
<center><td ><br>
    <table style="background-color:#d9dadb" cellspacing="0" cellpadding="1" align="center" bgcolor="#D9DADB">
        <tbody>
        <tr>
            <td>
                <table style="font-family:arial,helvetica,sans-serif;font-size:14px;line-height:20px;background-color:#ffffff" cellspacing="0" cellpadding="0" width="600" align="center" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td width="30"><img style="display:block" src="https://ci6.googleusercontent.com/proxy/2LyPgNns5tQHaTfPvq8SgNDDOMmHSvyv9MgN14vZ4bUjrDg85IgoDiqsdv0C_gq249CwLGvUkkeD1XUmyiW1AS8=s0-d-e1-ft#http://d36cz9buwru1tt.cloudfront.net/blank.gif" border="0" alt="" width="1" height="1" class="CToWUd"></td>
                        <td style="font-family:arial,helvetica,sans-serif;font-size:14px;line-height:20px">
                            <p><br>
                                <a href="http://voxynoks.com/"><img src="assets/images/logo1.png" alt="Voxynoks" style="width: 50%"border="0" class="CToWUd"></a> <br>
                                <br>
                                Welcome to Voxynoks,  <br>
                                <br>
                                Thank you for Registering with us...
                                <br>
                                <br>
                                </p>
                            <p>The Team Voxynoks<br>
                                <br>
                           </a></a>
                                <a href="http://localhost:8200/email-verification/{{verification_link}}" style="background-color:rgb(238,46,93,1);color:#fff;padding:0px;border:0px;font-size:14px;display:inline-block;margin-top:0px;border-radius:2px;text-decoration:none;width:160px;text-align:center;line-height:32px;line-height:32px">Confirm your Account</a>
                            </p><br>
                        </td>
                        <td width="30"><img style="display:block" src="https://ci6.googleusercontent.com/proxy/2LyPgNns5tQHaTfPvq8SgNDDOMmHSvyv9MgN14vZ4bUjrDg85IgoDiqsdv0C_gq249CwLGvUkkeD1XUmyiW1AS8=s0-d-e1-ft#http://d36cz9buwru1tt.cloudfront.net/blank.gif" border="0" alt="" width="1" height="1" class="CToWUd"></td>
                    </tr>
                    <tr>
                        <td width="30"><img style="display:block" src="https://ci6.googleusercontent.com/proxy/2LyPgNns5tQHaTfPvq8SgNDDOMmHSvyv9MgN14vZ4bUjrDg85IgoDiqsdv0C_gq249CwLGvUkkeD1XUmyiW1AS8=s0-d-e1-ft#http://d36cz9buwru1tt.cloudfront.net/blank.gif" border="0" alt="" width="1" height="1" class="CToWUd"></td>
                        <td align="right">
                            <hr size="1px">
                        </td>
                        <td width="30"><img style="display:block" src="https://ci6.googleusercontent.com/proxy/2LyPgNns5tQHaTfPvq8SgNDDOMmHSvyv9MgN14vZ4bUjrDg85IgoDiqsdv0C_gq249CwLGvUkkeD1XUmyiW1AS8=s0-d-e1-ft#http://d36cz9buwru1tt.cloudfront.net/blank.gif" border="0" alt="" width="1" height="1" class="CToWUd"></td>
                    </tr>
                    <tr>
                        <td width="30"><img style="display:block" src="https://ci6.googleusercontent.com/proxy/2LyPgNns5tQHaTfPvq8SgNDDOMmHSvyv9MgN14vZ4bUjrDg85IgoDiqsdv0C_gq249CwLGvUkkeD1XUmyiW1AS8=s0-d-e1-ft#http://d36cz9buwru1tt.cloudfront.net/blank.gif" border="0" alt="" width="1" height="1" class="CToWUd"></td>
                        <td align="left">
                            <p style="font-size:9px;color:#999;line-height:12px;margin-top:0px;text-align:center;font-family:Arial,Helvetica,sans-serif" align="center"><br>This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.</p>
                            <br>
                        </td>
                        <td width="30"><img style="display:block" src="https://ci6.googleusercontent.com/proxy/2LyPgNns5tQHaTfPvq8SgNDDOMmHSvyv9MgN14vZ4bUjrDg85IgoDiqsdv0C_gq249CwLGvUkkeD1XUmyiW1AS8=s0-d-e1-ft#http://d36cz9buwru1tt.cloudfront.net/blank.gif" border="0" alt="" width="1" height="1" class="CToWUd"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</td>
</center>